*{
    margin: 0px;
    padding: 0px;
}
.barranav{
    width: 100%;
    height: 5vh;
    background-color: #49a9ea;
    display: flex;
    align-items: center;
}
.contenedor{
    width: 100%;
    height: 95vh;
    background-color: #ffffff;
}
.left{
    width: 20%;
    height: 100%;
    background-color: #12113a;
    color: white;
    overflow: auto;
    float: left;
}
.left::-webkit-scrollbar{
    width: 5px;
}
.left::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.486);
}
.chat{
    width: 80%;
    height: 95vh;
    float: right;
    overflow: auto;
}
.upchat{
    background-color: #cfcfcf;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bchat{
    background-color: #ffffff;
    width: 100%;
    height: 80%;
    overflow: auto;
}
.inpchat{
    background-color: #cfcfcf;
    width: 80%;
    height: 10%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elementoschat{
    height: 90%;
    width: 80%;
    /* background-color: #12113a; */
    display: flex;
    align-items: center;

}
.imagperfil{
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
}
.inputstyle{
    height: 40%;
    width: 70%;
    border-radius: 50px;
    border: 0;
}
.coloriconos{
    color: #797979;
    cursor: pointer;
    /* background-color: red; */
}